<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
	<!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"-->
	<!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
    <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
    <!--http://www.springframework.org/schema/context-->
    <!--http://www.springframework.org/schema/context/spring-context.xsd">-->
	<!--&lt;!&ndash; 配置整合mybatis过程 &ndash;&gt;-->
	<!--&lt;!&ndash; 1.配置数据库相关参数properties的属性：${url} &ndash;&gt;-->
	<!--<context:property-placeholder location="classpath:jdbc.properties" />-->
	<!---->
	<!--&lt;!&ndash; 2.数据库连接池 &ndash;&gt;-->
	<!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
		<!--&lt;!&ndash; 配置连接池属性 &ndash;&gt;-->
		<!--<property name="driverClass" value="${jdbc.driver}" />-->
		<!--<property name="jdbcUrl" value="${jdbc.url}" />-->
		<!--<property name="user" value="${jdbc.username}" />-->
		<!--<property name="password" value="${jdbc.password}" />-->

		<!--&lt;!&ndash; c3p0连接池的私有属性 &ndash;&gt;-->
		<!--<property name="maxPoolSize" value="30" />-->
		<!--<property name="minPoolSize" value="10" />-->
		<!--&lt;!&ndash; 关闭连接后不自动commit &ndash;&gt;-->
		<!--<property name="autoCommitOnClose" value="false" />-->
		<!--&lt;!&ndash; 获取连接超时时间 &ndash;&gt;-->
		<!--<property name="checkoutTimeout" value="10000" />-->
		<!--&lt;!&ndash; 当获取连接失败重试次数 &ndash;&gt;-->
		<!--<property name="acquireRetryAttempts" value="2" />-->
	<!--</bean>-->

	<!--&lt;!&ndash; 3.配置SqlSessionFactory对象 &ndash;&gt;-->
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--&lt;!&ndash; 注入数据库连接池 &ndash;&gt;-->
		<!--<property name="dataSource" ref="dataSource" />-->
		<!--&lt;!&ndash; 配置MyBaties全局配置文件:mybatis-config.xml &ndash;&gt;-->
		<!--<property name="configLocation" value="classpath:mybatis-config.xml" />-->
		<!--&lt;!&ndash; 扫描entity包 使用别名 &ndash;&gt;-->
		<!--<property name="typeAliasesPackage" value="com.imooc.o2o.entity" />-->
		<!--&lt;!&ndash; 扫描sql配置文件:mapper需要的xml文件 &ndash;&gt;-->
		<!--<property name="mapperLocations" value="classpath:mapper/*.xml" />-->
	<!--</bean>-->

	<!--&lt;!&ndash; 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 &ndash;&gt;-->
	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--&lt;!&ndash; 注入sqlSessionFactory &ndash;&gt;-->
		<!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />-->
		<!--&lt;!&ndash; 给出需要扫描Dao接口包 &ndash;&gt;-->
		<!--<property name="basePackage" value="com.imooc.o2o.dao" />-->
	<!--</bean>-->
<!--</beans>-->